.spinner div:nth-child(1){
    height:.5rem;
    animation: spinner-effect1 2s ease infinite;
}
.spinner div:nth-child(2){
    height:3rem;
    animation: spinner-effect2 2s ease infinite;
}

.spinner div:nth-child(3){
    height:2rem;
    animation: spinner-effect3 2s ease infinite;
}

.spinner div:nth-child(4){
    height:.75rem;
    animation: spinner-effect4 2s ease infinite;
}



@keyframes spinner-effect1 {
    0% {height: .5rem;}
    50% {height: 3rem;}
    0% {height: .5rem;}
}
@keyframes spinner-effect2 {
    0% {height: 3rem;}
    50% {height: 1.25rem;}
    0% {height: 3rem;}
  }
  @keyframes spinner-effect3 {
    0% {height: 2rem;}
    50% {height: .625rem;}
    0% {height: 2rem;}
  }
  @keyframes spinner-effect4 {
    0% {height: .75rem;}
    50% {height: 1.5rem;}
    0% {height: .75rem;}
  }